.carousel {
  min-height: 100%;
  display: grid;
  grid-template-rows: 200px 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
  'book-info'
  'add-book';
}

.book-info {
  grid-area: book-info;
  text-align: center;
}

.add-book-button {
  grid-area: add-book;
  text-align: center;
}

[class^=carousel] {
  background-color: grey;
}
